# Yandex AI Studio
API_KEY=your_api_key_here
AI_BASE_URL=https://ai.api.cloud.yandex.net/v1
PROJECT=your_project_id
PROMPT_ID=your_prompt_id

# Приложение
APP_BASE_URL=http://localhost:8081
SECRET_KEY=change-me

# YDB
YDB_TOKEN_FILE=/path/to/my_token
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/<folder-id>/<database-id>

# SMTP
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=your_email@yandex.ru
MAIL_PASSWORD=your_app_password
MAIL_DEFAULT_SENDER=your_email@yandex.ru

# DEBUG
DEBUG=false

# App Debug
APP_DEBUG=true
PORT=8081

# AI запросы
AI_REQUEST_TIMEOUT=10